<div class="w-100">
  <label [for]="id()" class="form-label">{{ label() }}</label>

  <div class="input-group w-100">
    <span class="input-group-text bg-light">
      <i class="bi bi-search" aria-hidden="true"></i>
    </span>

    <input
      [id]="id()"
      class="form-control"
      type="search"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="onInput($any($event.target).value)"
      [disabled]="disabled()"
      [attr.autocomplete]="autocomplete()"
      role="searchbox"
    />
  </div>
</div>
