.sidebar {
  width: 250px;
  transition: width 0.3s ease;
  min-height: 100vh;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 12px 20px;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: #495057;
}

.sidebar .icon {
  font-size: 1.2rem;
  width: 24px;
  text-align: center;
}

.sidebar .text {
  margin-left: 10px;
}

button.btn-danger span.icon {
  font-size: 1.2rem;
}
