<div class="main-content p-4">
  <app-filter-card title="Filters" [collapsed]="true" (clear)="clearFilters()">
    <form class="row g-3 align-items-end">
      <div class="col-md-4">
        <app-filter-input
          label="Search Categories"
          id="categorySearch"
          placeholder="Search categories by name"
          [(value)]="categoryRequest.name"
          (valueChange)="onFilterChange()"
        ></app-filter-input>
      </div>
    </form>
  </app-filter-card>

  <app-custom-table
    [settings]="settings"
    [data]="data"
    [sortBy]="categoryRequest.sortBy"
    [sortDirection]="categoryRequest.sortDirection"
    (sortChange)="onSortChange($event)"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [itemsPerPage]="categoryRequest.take"
    (pageChange)="changePage($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  ></app-custom-table>

  <div
    class="modal fade"
    id="deleteConfirmationModal"
    tabindex="-1"
    aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">
            Confirm Delete
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete
            <strong>{{ categoryToDelete?.name }}</strong
            >?
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteCategory()"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
