<div class="main-content p-4">
  <app-filter-card title="Filters" [collapsed]="true" (clear)="clearFilters()">
    <form class="row g-3 align-items-end">
      <!-- First Name -->
      <div class="col-md-3">
        <app-filter-input
          label="First Name"
          id="firstNameFilter"
          placeholder="First name"
          [(value)]="userRequest.firstName"
          (valueChange)="onFilterChange()"
        ></app-filter-input>
      </div>

      <!-- Last Name -->
      <div class="col-md-3">
        <app-filter-input
          label="Last Name"
          id="lastNameFilter"
          placeholder="Last name"
          [(value)]="userRequest.lastName"
          (valueChange)="onFilterChange()"
        ></app-filter-input>
      </div>

      <!-- Username -->
      <div class="col-md-3">
        <app-filter-input
          label="Username"
          id="usernameFilter"
          placeholder="Username"
          [(value)]="userRequest.username"
          (valueChange)="onFilterChange()"
        ></app-filter-input>
      </div>

      <!-- Email -->
      <div class="col-md-3">
        <app-filter-input
          label="Email"
          id="emailFilter"
          placeholder="Email"
          [(value)]="userRequest.email"
          (valueChange)="onFilterChange()"
        ></app-filter-input>
      </div>
    </form>
  </app-filter-card>

  <app-custom-table
    [settings]="settings"
    [data]="data"
    [sortBy]="userRequest.sortBy"
    [sortDirection]="userRequest.sortDirection"
    (sortChange)="onSortChange($event)"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [itemsPerPage]="userRequest.take"
    (pageChange)="changePage($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  ></app-custom-table>
</div>
